.search {
  background-image: linear-gradient(to right, #007bff, aqua, #007bff);
  padding: 10px 20px;
  transition: 0.5s ease-in-out;
  background-size: 200%;
  border: 2px solid white;
  border-radius: 10px;
  outline: none;
}
.search:hover {
  background-position: right;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  cursor: pointer;
}
